{% extends "base.html" %}
{% load static %}

{% block title %}
Профессия Python-разработчик
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <h1>Кто такой Python-разработчик и чем он занимается</h1>
        <p>
            Python-разработчик – это IT-специалист, который участвует в создании сайтов, игр, онлайн-сервисов, ботов для соцсетей и другого ПО. Язык программирования Python
            используется в разных отраслях, но наиболее популярен в следующих направлениях:
        </p>
        <ul>
            <li>Разработка серверной части веб и мобильных приложений.</li>
            <li>Создание десктопных программ и ПО для различных устройств (от телекоммуникационного оборудования до банкоматов).</li>
            <li>Аналитика и визуализация данных.</li>
            <li>Машинное обучение (Machine Learning, Deep Learning).</li>
            <li>Написание скриптов и парсеров.</li>
        </ul>
        <p>
            Python-программисты занимаются созданием, техподдержкой и доработкой совершенно разных цифровых программ:
            отсайтов до нейросетей. Ниже подробно расскажем про все, что нужно знать о профессии: знания, навыки,
            квалификации разработчиков, сферы деятельности и перспективы в карьере.
        </p>
        <h2>Питон – это про backend или про frontend</h2>
        <div class="text-with-img">
            <div class="text">
                <p>
                    Python – это универсальный язык, который используется для реализации разных задач. При желании его можно
                    применять в разработке фронтенда, но в большинстве случаев целесообразнее писать код для внешней
                    (клиентской) части программы на более подходящем языке, например, на JavaScript. Поэтому можно сказать,
                    что Python – это язык для backend-разработки, поскольку он подходит именно для программирования на
                    стороне сервера.
                </p>
                <p>
                    Backend-разработчик на Python – это специалист, который разрабатывает серверную (внутреннюю, скрытую)
                    часть приложения, и отвечает за внутреннюю архитектуру, логику и взаимодействие с базами данных. Его
                    главная цель – сделать так, чтобы сервисы понимали запросы, а сайты правильно реагировали на действия
                    пользователей. Например, чтобы при нажатии кнопки товар добавлялся в корзину или заявка уходила на рассмотрение.
                </p>
            </div>
            <img src="{% static "myapp/python_code.jpeg" %}">
            </div>
        <h3>Какие задачи решает бэкенд-разработчик:</h3>
        <ul>
            <li>Продумывает внутренние алгоритмы и процессы.</li>
            <li>Пишет код на Python.</li>
            <li>Настраивает связь с базами данных и внешними сервисами.</li>
            <li>Тестирует итоговый проект.</li>
            <li>Оптимизирует работу сайта или приложения.</li>
            <li>Составляет техническую документацию.</li>
        </ul>
        <h2>Что делает fullstack-разработчик</h2>
        <p>
            Fullstack-разработчик на Python – это профессия, которая совмещает сразу 2 направления: frontend и
            backend. То есть full stack – это универсальный специалист, который может самостоятельно и с нуля создавать клиентскую и серверную части сайта или веб-приложения.
        </p>
        <h3>Что умеет делать фулстэк-программист:</h3>
        <ul>
            <li>Верстать страницы на HTML и CSS.</li>
            <li>Разрабатывать фронтенд на JavaScript и React.</li>
            <li>Программировать бэкенд на Python и Django.</li>
            <li>Применять принципы клиент-серверного взаимодействия и работать с базами данных.</li>
            <li>Проводить юнит-тестирование проекта.</li>
        </ul>
        <h2>Что должен уметь программист на Python</h2>
        <h3>Перечислим, что должен знать и уметь программист на Питоне:</h3>
        <ul>
            <li>Понимать принципы объектно-ориентированного программирования и методологию разработки.</li>
            <li>Знать систему управления версиями Git и сервис GitHub.</li>
            <li>Программировать на Python, писать читаемый код.</li>
            <li>Пользоваться фреймворками Django и Flask, библиотеками, ПО для автоматизации развертывания приложений Docker.</li>
            <li>Работать с базами данных, алгоритмами и SQL.</li>
            <li>Тестировать проект на всех этапах разработки.</li>
            <li>Разбираться в верстке на HTML и CSS.</li>
            <li>Читать и понимать техническую документацию на английском языке.</li>
        </ul>
    </div>
{% endblock %}